.nav-item {
  font-family: 'JetBrains Mono', monospace;
}

.mainh2Style {
  font-size: 80px;
  font-family: JetBrains Mono;
}
.mainpStyle {
  font-family: 'JetBrains Mono';
  font-size: 26px;
}
.sectionStyle {
  background-image: url("https://deandraper.s3.us-east-2.amazonaws.com/iMacAndMBP.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  color: rgba(9, 162, 255, 0.7);
}

.push {
  height: 100px;
}

.resume {
  height: 90%;
  width: 100%;
}